#preview_title{ 
    font-size: 18px;
}
body{
    background-color:hsl(30, 38%, 92%);
    text-align: justify;
}

#text{
    font-size: 14px; 
    background-color: white;
    border-radius: 5px;
   padding: 190px;
   margin-left: 450px;
   margin-right: 450px;
   margin-block-start: 350px;
   margin-block-end:350px;
   text-align: right;
   background-image: url(/images/image-product-desktop.jpg);

   background-position: left;
   background-size: 1440px; 

}

#price{
    color:hsl(158, 36%, 37%);
}

#cart{
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border: 0px;
    border-radius: 4px;
    padding:5px;
}

#attribution{
font-size: 11px; text-align:center; 
color: hsl(228, 45%, 44%);
}